<!DOCTYPE html>
<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Righteous&display=swap" rel="stylesheet">
</head>
<html>
  <body>
    <div class="header">
      <h1>Random Restaurant Generator</h1>
      <h2>- for those lazy, indecisive days -</h2>
    </div>
    <div class="navLinks">
      <nav>
        <button id="generator" routerLink="/generator">Generator</button>
        <button id="categories" routerLink="/categories">Category List View</button>
      </nav>
    </div>
    <router-outlet></router-outlet>
    <p>:)</p>
  </body>
</html>

